<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="/tmp/nlog-internal.log">
    <targets>
        <target name="AsyncTraceTarget" xsi:type="AsyncWrapper">
            <target name="TraceTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/trace.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/trace.${shortdate}.{##}.log" maxArchiveFiles="20" archiveAboveSize="104857600" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>
        </target>
        <target name="InfoTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/info.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/info.${shortdate}.{#}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>
        <target name="ErrorTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/error.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} >>> ${newline} ${onexception}:${exception:format=message} ${newline} ${stacktrace} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/error.${shortdate}.{#}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>

        <target name="AsyncSystemTarget" xsi:type="AsyncWrapper">
            <target name="SystemTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/Internal/system.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/Internal/system.${shortdate}.{#}.log" maxArchiveFiles="7" archiveAboveSize="104857600" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>
        </target>

        <target name="ApiTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/Web/api.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/Web/api.${shortdate}.{#}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>
        <target name="SignalrTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/Web/signalr.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/Web/signalr.${shortdate}.{#}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>

        <target name="SqlTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/sql.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/sql.${shortdate}.{#}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>
        <target name="DeviceTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/Device/${logger}.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/Device/${logger}.${shortdate}.{#}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>

        <target name="TaskTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/Task/${logger}.${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger}.${aspnet-TraceIdentifier} | ${callsite:skipFrames=1} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/Task/${logger}.${shortdate}.{#}.log" archiveAboveSize="52428800" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>

        <!--使用可自定义的着色将日志消息写入控制台-->
        <target name="ConsoleTarget" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]: ${callsite:skipFrames=1} ${message} ${exception:format=message}" />
    </targets>

    <!--简化写法，利用 default-XXX 将配置提取统一设置-->
    <!--     
    <targets>
        <default-wrapper xsi:type="AsyncWrapper">
            <wrapper-target xsi:type="RetryingWrapper"/>
        </default-wrapper>
        <default-target-parameters xsi:type="File" archiveAboveSize="100" archiveNumbering="Sequence" archiveOldFileOnStartup="false" archiveOldFileOnStartupAboveSize="0" lineEnding="CRLF" keepFileOpen="true" concurrentWrites="false" openFileCacheTimeout="30"/>
        <target name="AsyncTraceTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/${lowercase:${level}}.txt" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/${lowercase:${level}}.{##}.txt" maxArchiveFiles="10" />
        <target name="AsyncSystemTarget" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/system.txt" layout="${longdate} | ${uppercase:${level}} | ${threadname}[${threadid}] | ${logger} | ${message} ${newline}" archiveFileName="${basedir}/Logs/${shortdate}/system.{#}.txt" maxArchiveFiles="7" archiveAboveSize="50"/>
    </targets>
     -->

    <!--规则配置,final - 最终规则匹配后不处理任何规则-->
    <rules>
        <logger name="Trace" minlevel="Trace" writeTo="AsyncTraceTarget" final="true"/>
        <logger name="Info" minlevel="Info" writeTo="InfoTarget" final="true"/>
        <logger name="Error" minlevel="Error" writeTo="ErrorTarget" final="true"/>
        <logger name="Microsoft.AspNetCore.*" minlevel="Info" writeTo="ApiTarget" final="true"/>
        <logger name="Microsoft.*" minlevel="Info" writeTo="AsyncSystemTarget" final="true"/>
        <logger name="System.*" minlevel="Info" writeTo="AsyncSystemTarget" final="true"/>
        <logger name="Api" minlevel="Info" writeTo="ApiTarget" final="true"/>
        <logger name="Signalr" minlevel="Info" writeTo="SignalrTarget" final="true"/>
        <logger name="Sql" minlevel="Info" writeTo="SqlTarget" final="true"/>
        <logger name="MDR.Device.*" minlevel="Info" writeTo="DeviceTarget" final="true"/>
        <logger name="MDR.Task.*" minlevel="Info" writeTo="TaskTarget" final="true"/>
        <logger name="*" minlevel="Trace" writeTo="AsyncTraceTarget"/>
    </rules>

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
</nlog>